@charset "UTF-8";

#category>nav>ul:nth-child(3){
	background-color: #e8f4ea !important;
}
/*카테고리*/
#category {
	text-align: center;
	float: left;
	position: fixed;
	top: 210px;
	left: 10px;
}

#changepwd{
	width: 450px;
	height: 400px;
	margin: 0 auto;
	border-radius: 50px;
	border:2px solid #e8f4ea;
	text-align: left;
	margin-top:100px;
	padding-top:40px;
	padding-left:95px;
}
label{
	width: 250px;
	font-size:14px;
	text-align:center;
}
#userpwd, #userpwd2, #userpwd3{ /*input*/
	width: 250px;
	height: 40px;
	border: 1px solid #ced4da;
	text-align: center;
	font-size: 14px;
	border-radius: 20px;
	margin: 0 auto;
}

#category>nav>ul:nth-child(3){
	background-color:#e0f0e3 !Important;
}

#modifyBtn, #cancelBtn { /*수정, 취소 버튼*/
	width: 100px;
	background-color: #c8e1cc;
	border-radius: 20px;
	border-color: #ddd;
	margin: 0 auto;
	margin-left:15px;
	margin-top:20px;
}